@media only screen and (min-width : 480px) {
 
}
@media only screen and (min-width : 768px) {
}
@media only screen and (min-width : 992px) {


}
@media only screen and (min-width : 1200px) {
}
@media only screen and (max-width : 1199px) {

}
@media only screen and (max-width : 991px) {

.main-slider-content{width: 100%;}
.about-media img{width: 100%;}
.service-media img{width: 100%;}
.contactus-info-media img{width: 100% !important;}
.service-section .heading-title{width: 100%;}
.pricing-section .heading-title{width: 100%;}
.contactus-page-section .heading-title{width: 100%;}
.main-slider-content {background: rgb(0 0 0 / 60%); padding: 30px 10px 30px 10px; }
} 
@media only screen and (max-width : 767px) {
.textle-section .container { max-width: 100%;}
.main-slider-content{background: rgb(0 0 0 / 60%); padding: 30px 10px 30px 10px;}
.main-slider-content h2{font-size: 24px; padding-bottom: 0px;}
.submit-btn{margin-top: 16px;}
.main-slider-content p{font-size: 14px; width: 70%; margin: auto;}
.main-slider-content{width: 100%;}
.about-media img{width: 100%;}
.service-media img{width: 100%;}
.contactus-info-media img{width: 100% !important;}
.service-section .heading-title{width: 100%;}
.pricing-section .heading-title{width: 100%;}
.contactus-page-section .heading-title{width: 100%;}
.pricing-card{margin-top: 10px;}
.about-section{padding: 0rem 0;}
.service-list{margin-bottom: 0px;}
.footer-contact-info-box{justify-content: center;}

}
 
@media only screen and (max-width : 480px) {
.logo{text-align: center; margin-bottom: 20px;}
.header-contact-card{justify-content: center;}
.header-contact-content{text-align: center;}







}
